* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 767px) {
    * {
        overflow-x: auto;
    }
}

body {
    font-family: sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

#header .line {
    height: 23px;
    background-color: black;
}

#header div.line .col-4 div.button {
    width: 25px;
}

#header nav.menu .logo img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: 50% 50%;
}

#header nav.menu .collapse {
    justify-content: center;
}

#header nav.menu .navbar-nav {
    justify-content: space-between;
    width: 80%;
}

@media (min-width: 768px) and (max-width: 1023px) {
    #header div.line .col-4 {
        width: 100%;
    }

    #header nav.menu .navbar-nav {
        width: 100%;
    }
}

@media (max-width: 767px) {
    #header div.line .col-4 {
        width: 100%;
    }

    #header div.line .col-4 #slideshowLine {
        text-align: center;
    }

    #header div.line .col-4 .button i {
        width: 100%;
    }

    #header nav.menu .navbar-nav {
        width: 100%;
    }
}

/* Introduce */

#introduction-section {
    background-color: #e0d8cf;
    padding: 40px 20px;
}

#introduction-section h1 {
    font-size: 3rem;
    font-weight: bold;
}

#introduction-section p {
    font-size: 1.2rem;
    margin: 20px 0;
}

#introduction-section button {
    background-color: #9a8978;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
}

#introduction-section button:hover {
    background-color: #816
}

#introduction-section .image-right {
    width: 345px;
}

#introduction-section .image-bottom {
    margin-top: -80px;
}

@media (max-width: 767px) {

    #introduction-section .image-right .w-50 {
        width: 200px;
    }
}

/* End Introduce */

/* Product */
.products {
    .container-product {
        margin: 0 auto;
        padding: 20px;
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 30px;
    }

    .shop-now {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

    .shop-now a {
        text-decoration: none;
        color: #333;
        padding: 10px 20px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .shop-now a:hover {
        background-color: #ddd;
    }

    .card img {
        height: 500px;
    }

    .card-price {
        font-size: 1.2rem;
        color: red;
    }

    .card-old-price {
        text-decoration: line-through;
        color: grey;
    }

    .badge-discount {
        background-color: orange;
        color: white;
    }

    .color-dot {
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin: 0 5px;
    }

    @media (max-width: 1023px) {
        .card img {
            height: 200px;
        }
    }

    @media (max-width: 767px) {
        .badge-discount {
            font-size: 10px;
        }

        .container-product .px-5 {
            padding-right: 0px;
            padding-left: 0px;
        }

        .card img {
            height: 300px;
        }
    }
}

/* End Product */

/* Process work */
.process-work {
    .step-icon {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
    }

    .step-title {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .step-column {
        margin: 0 3px;
    }

    .step-row {
        justify-content: center;
    }

    .card p {
        padding: 0 1vmin;
    }
}

/* End Process work */

/* Contact */
.contact-section {
    background-color: #A1876A;
    padding: 2rem 0;
}

.contact-section h2 {
    color: #fff;
}

.contact-section p {
    color: #f8f9fa;
}

.contact-section {
    .form-control {
        border-radius: 0.5rem;
    }

    .btn-primary {
        background-color: #fff;
        color: #000;
        border: 1px solid #000;
    }
}

/* End Contact */

/* Socials */
.socials-section {
    background-color: #D9D0C5;
}

.social-handle {
    display: inline-block;
    color: #fff;
    font-size: 16px;
}

.socials-section {
    .img-container {
        width: 100%;
        padding-top: 100%;
        position: relative;
        overflow: hidden;
    }

    .img-container img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* End Socials */

/* Features */
.features-section {
    background-color: #F8F9FA;

    .icon-container {
        width: 80px;
        height: 80px;
        background-color: #C0392B;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .icon {
        color: #FFFFFF;
        font-size: 40px;
    }
}


/*End Features */