* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 767px) {
    * {
        overflow-x: auto;
    }
}

body {
    font-family: sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

#header .line {
    height: 23px;
    background-color: black;
}

#header div.line .col-4 div.button {
    width: 25px;
}

#header nav.menu .logo img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: 50% 50%;
}

#header nav.menu .collapse {
    justify-content: center;
}

#header nav.menu .navbar-nav {
    justify-content: space-between;
    width: 80%;
}

@media (min-width: 768px) and (max-width: 1023px) {
    #header div.line .col-4 {
        width: 100%;
    }

    #header nav.menu .navbar-nav {
        width: 100%;
    }
}

@media (max-width: 767px) {
    #header div.line .col-4 {
        width: 100%;
    }

    #header div.line .col-4 #slideshowLine {
        text-align: center;
    }

    #header div.line .col-4 .button i {
        width: 100%;
    }

    #header nav.menu .navbar-nav {
        width: 100%;
    }
}

#content-wrapper .content-category .img-category,
#content-wrapper .content-proces .img-proces,
#content-wrapper .content-testimonial .img-testimonial {
    width: 100%;
    height: 200px;
}

#content-wrapper .content-category .category:hover,
#content-wrapper .content-proces .proces:hover,
#content-wrapper .content-testimonial .testimonial:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

#content-wrapper .content-category p,
#content-wrapper .content-proces p,
#content-wrapper .content-testimonial p {
    font-weight: bold;
}

/* Introduce */

#introduction-section {
    background-color: #e0d8cf;
    padding: 40px 20px;
}

#introduction-section h1 {
    font-size: 3rem;
    font-weight: bold;
}

#introduction-section p {
    font-size: 1.2rem;
    margin: 20px 0;
}

#introduction-section button {
    background-color: #9a8978;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
}

#introduction-section button:hover {
    background-color: #816
}

#introduction-section .image-right{
    width: 345px;
}

#introduction-section .image-bottom {
    margin-top: -80px;
}

@media (max-width: 767px) {

    #introduction-section .image-right .w-50{
        width: 200px;
    }
}

/* End Introduce */

/* Product */
.products {
    .container-product {
        margin: 0 auto;
        padding: 20px;
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 30px;
    }

    .shop-now {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

    .shop-now a {
        text-decoration: none;
        color: #333;
        padding: 10px 20px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .shop-now a:hover {
        background-color: #ddd;
    }

    .card img {
        height: 500px;
    }

    .card-price {
        font-size: 1.2rem;
        color: red;
    }

    .card-old-price {
        text-decoration: line-through;
        color: grey;
    }

    .badge-discount {
        background-color: orange;
        color: white;
    }

    .color-dot {
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin: 0 5px;
    }

    @media (max-width: 1023px) {
        .card img {
            height: 200px;
        }
    }

    @media (max-width: 767px) {
        .badge-discount {
            font-size: 10px;
        }

        .container-product .px-5 {
            padding-right: 0px;
            padding-left: 0px;
        }

        .card img {
            height: 300px;
        }
    }
}

/* End Product */

/* Process work */
.process-work {
    .step-icon {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
    }

    .step-title {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .step-column {
        margin: 0 3px;
    }

    .step-row {
        justify-content: center;
    }

    .card p {
        padding: 0 1vmin;
    }
}

/* End Process work */