@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(fonts/f8f199f09526f79e87644ed227e0f651.woff2);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(fonts/f8f199f09526f79e87644ed227e0f651.woff2);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(fonts/f8f199f09526f79e87644ed227e0f651.woff2);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(fonts/f8f199f09526f79e87644ed227e0f651.woff2);
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(fonts/f8f199f09526f79e87644ed227e0f651.woff2);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(fonts/f8f199f09526f79e87644ed227e0f651.woff2);
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(fonts/f8f199f09526f79e87644ed227e0f651.woff2);
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(fonts/f8f199f09526f79e87644ed227e0f651.woff2);
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(fonts/f8f199f09526f79e87644ed227e0f651.woff2);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(fonts/f8f199f09526f79e87644ed227e0f651.woff2);
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(fonts/f8f199f09526f79e87644ed227e0f651.woff2);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(fonts/f8f199f09526f79e87644ed227e0f651.woff2);
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(fonts/f8f199f09526f79e87644ed227e0f651.woff2);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(fonts/f8f199f09526f79e87644ed227e0f651.woff2);
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(fonts/f8f199f09526f79e87644ed227e0f651.woff2);
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(fonts/f8f199f09526f79e87644ed227e0f651.woff2);
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(fonts/f8f199f09526f79e87644ed227e0f651.woff2);
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: YACgEZ1cb1Q-0;
    src: url(fonts/f8f199f09526f79e87644ed227e0f651.woff2);
    font-style: italic;
    font-weight: 900;
}

@font-face {
    font-family: YACkoA9eHeY-0;
    src: url(fonts/1cab76353ba3b048cb8de3551197cc9f.woff2);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: YACkoA9eHeY-0;
    src: url(fonts/55da006d5a5642b213ce365756b9b59c.woff2);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: YACkoA9eHeY-0;
    src: url(fonts/1cab76353ba3b048cb8de3551197cc9f.woff2);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: YACkoA9eHeY-0;
    src: url(fonts/55da006d5a5642b213ce365756b9b59c.woff2);
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: YACkoA9eHeY-0;
    src: url(fonts/1cab76353ba3b048cb8de3551197cc9f.woff2);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: YACkoA9eHeY-0;
    src: url(fonts/1cab76353ba3b048cb8de3551197cc9f.woff2);
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: YACkoA9eHeY-0;
    src: url(fonts/1cab76353ba3b048cb8de3551197cc9f.woff2);
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: YACkoA9eHeY-0;
    src: url(fonts/1cab76353ba3b048cb8de3551197cc9f.woff2);
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: YACkoA9eHeY-0;
    src: url(fonts/1cab76353ba3b048cb8de3551197cc9f.woff2);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: YACkoA9eHeY-0;
    src: url(fonts/1cab76353ba3b048cb8de3551197cc9f.woff2);
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: YACkoA9eHeY-0;
    src: url(fonts/1cab76353ba3b048cb8de3551197cc9f.woff2);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: YACkoA9eHeY-0;
    src: url(fonts/1cab76353ba3b048cb8de3551197cc9f.woff2);
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: YACkoA9eHeY-0;
    src: url(fonts/55da006d5a5642b213ce365756b9b59c.woff2);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: YACkoA9eHeY-0;
    src: url(fonts/55da006d5a5642b213ce365756b9b59c.woff2);
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: YACkoA9eHeY-0;
    src: url(fonts/55da006d5a5642b213ce365756b9b59c.woff2);
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: YACkoA9eHeY-0;
    src: url(fonts/55da006d5a5642b213ce365756b9b59c.woff2);
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: YACkoA9eHeY-0;
    src: url(fonts/55da006d5a5642b213ce365756b9b59c.woff2);
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: YACkoA9eHeY-0;
    src: url(fonts/55da006d5a5642b213ce365756b9b59c.woff2);
    font-style: italic;
    font-weight: 900;
}

@font-face {
    font-family: YAFcfpZDFTo-0;
    src: url(fonts/5e1ed0b32fd758cc4561c5ab8ac17ce3.woff2);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: YAFcfpZDFTo-0;
    src: url(fonts/537374b9ea9adecae8b84917144f543e.woff2);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: YAFcfpZDFTo-0;
    src: url(fonts/5e1ed0b32fd758cc4561c5ab8ac17ce3.woff2);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: YAFcfpZDFTo-0;
    src: url(fonts/537374b9ea9adecae8b84917144f543e.woff2);
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: YAFcfpZDFTo-0;
    src: url(fonts/5e1ed0b32fd758cc4561c5ab8ac17ce3.woff2);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: YAFcfpZDFTo-0;
    src: url(fonts/5e1ed0b32fd758cc4561c5ab8ac17ce3.woff2);
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: YAFcfpZDFTo-0;
    src: url(fonts/5e1ed0b32fd758cc4561c5ab8ac17ce3.woff2);
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: YAFcfpZDFTo-0;
    src: url(fonts/5e1ed0b32fd758cc4561c5ab8ac17ce3.woff2);
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: YAFcfpZDFTo-0;
    src: url(fonts/5e1ed0b32fd758cc4561c5ab8ac17ce3.woff2);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: YAFcfpZDFTo-0;
    src: url(fonts/5e1ed0b32fd758cc4561c5ab8ac17ce3.woff2);
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: YAFcfpZDFTo-0;
    src: url(fonts/5e1ed0b32fd758cc4561c5ab8ac17ce3.woff2);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: YAFcfpZDFTo-0;
    src: url(fonts/5e1ed0b32fd758cc4561c5ab8ac17ce3.woff2);
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: YAFcfpZDFTo-0;
    src: url(fonts/537374b9ea9adecae8b84917144f543e.woff2);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: YAFcfpZDFTo-0;
    src: url(fonts/537374b9ea9adecae8b84917144f543e.woff2);
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: YAFcfpZDFTo-0;
    src: url(fonts/537374b9ea9adecae8b84917144f543e.woff2);
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: YAFcfpZDFTo-0;
    src: url(fonts/537374b9ea9adecae8b84917144f543e.woff2);
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: YAFcfpZDFTo-0;
    src: url(fonts/537374b9ea9adecae8b84917144f543e.woff2);
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: YAFcfpZDFTo-0;
    src: url(fonts/537374b9ea9adecae8b84917144f543e.woff2);
    font-style: italic;
    font-weight: 900;
}

@font-face {
    font-family: YAFdJpYtCxE-0;
    src: url(fonts/df68062a3aa8b2009d36094e05658249.woff2);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: YAFdJpYtCxE-0;
    src: url(fonts/df68062a3aa8b2009d36094e05658249.woff2);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: YAFdJpYtCxE-0;
    src: url(fonts/df68062a3aa8b2009d36094e05658249.woff2);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: YAFdJpYtCxE-0;
    src: url(fonts/df68062a3aa8b2009d36094e05658249.woff2);
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: YAFdJpYtCxE-0;
    src: url(fonts/df68062a3aa8b2009d36094e05658249.woff2);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: YAFdJpYtCxE-0;
    src: url(fonts/df68062a3aa8b2009d36094e05658249.woff2);
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: YAFdJpYtCxE-0;
    src: url(fonts/df68062a3aa8b2009d36094e05658249.woff2);
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: YAFdJpYtCxE-0;
    src: url(fonts/df68062a3aa8b2009d36094e05658249.woff2);
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: YAFdJpYtCxE-0;
    src: url(fonts/df68062a3aa8b2009d36094e05658249.woff2);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: YAFdJpYtCxE-0;
    src: url(fonts/df68062a3aa8b2009d36094e05658249.woff2);
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: YAFdJpYtCxE-0;
    src: url(fonts/df68062a3aa8b2009d36094e05658249.woff2);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: YAFdJpYtCxE-0;
    src: url(fonts/df68062a3aa8b2009d36094e05658249.woff2);
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: YAFdJpYtCxE-0;
    src: url(fonts/df68062a3aa8b2009d36094e05658249.woff2);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: YAFdJpYtCxE-0;
    src: url(fonts/df68062a3aa8b2009d36094e05658249.woff2);
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: YAFdJpYtCxE-0;
    src: url(fonts/df68062a3aa8b2009d36094e05658249.woff2);
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: YAFdJpYtCxE-0;
    src: url(fonts/df68062a3aa8b2009d36094e05658249.woff2);
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: YAFdJpYtCxE-0;
    src: url(fonts/df68062a3aa8b2009d36094e05658249.woff2);
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: YAFdJpYtCxE-0;
    src: url(fonts/df68062a3aa8b2009d36094e05658249.woff2);
    font-style: italic;
    font-weight: 900;
}

@font-face {
    font-family: YAFdJsjyMsM-0;
    src: url(fonts/0fb18d5e72c6edfc6fe0d03a9398b8f8.woff2);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: YAFdJsjyMsM-0;
    src: url(fonts/9504b09b02e0a62a1cc1e69422e2d5ee.woff2);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: YAFdJsjyMsM-0;
    src: url(fonts/0fb18d5e72c6edfc6fe0d03a9398b8f8.woff2);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: YAFdJsjyMsM-0;
    src: url(fonts/9504b09b02e0a62a1cc1e69422e2d5ee.woff2);
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: YAFdJsjyMsM-0;
    src: url(fonts/0fb18d5e72c6edfc6fe0d03a9398b8f8.woff2);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: YAFdJsjyMsM-0;
    src: url(fonts/0fb18d5e72c6edfc6fe0d03a9398b8f8.woff2);
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: YAFdJsjyMsM-0;
    src: url(fonts/0fb18d5e72c6edfc6fe0d03a9398b8f8.woff2);
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: YAFdJsjyMsM-0;
    src: url(fonts/0fb18d5e72c6edfc6fe0d03a9398b8f8.woff2);
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: YAFdJsjyMsM-0;
    src: url(fonts/0fb18d5e72c6edfc6fe0d03a9398b8f8.woff2);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: YAFdJsjyMsM-0;
    src: url(fonts/0fb18d5e72c6edfc6fe0d03a9398b8f8.woff2);
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: YAFdJsjyMsM-0;
    src: url(fonts/9504b09b02e0a62a1cc1e69422e2d5ee.woff2);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: YAFdJsjyMsM-0;
    src: url(fonts/9504b09b02e0a62a1cc1e69422e2d5ee.woff2);
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: YAFdJsjyMsM-0;
    src: url(fonts/9504b09b02e0a62a1cc1e69422e2d5ee.woff2);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: YAFdJsjyMsM-0;
    src: url(fonts/9504b09b02e0a62a1cc1e69422e2d5ee.woff2);
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: YAFdJsjyMsM-0;
    src: url(fonts/9504b09b02e0a62a1cc1e69422e2d5ee.woff2);
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: YAFdJsjyMsM-0;
    src: url(fonts/9504b09b02e0a62a1cc1e69422e2d5ee.woff2);
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: YAFdJsjyMsM-0;
    src: url(fonts/9504b09b02e0a62a1cc1e69422e2d5ee.woff2);
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: YAFdJsjyMsM-0;
    src: url(fonts/9504b09b02e0a62a1cc1e69422e2d5ee.woff2);
    font-style: italic;
    font-weight: 900;
}

@font-face {
    font-family: YAFdJsZqKzQ-0;
    src: url(fonts/c37dfb87a52f40012840b0225ba5def0.woff2);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: YAFdJsZqKzQ-0;
    src: url(fonts/619f14569d213ce5f246ec236d776ad2.woff2);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: YAFdJsZqKzQ-0;
    src: url(fonts/c37dfb87a52f40012840b0225ba5def0.woff2);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: YAFdJsZqKzQ-0;
    src: url(fonts/619f14569d213ce5f246ec236d776ad2.woff2);
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: YAFdJsZqKzQ-0;
    src: url(fonts/c37dfb87a52f40012840b0225ba5def0.woff2);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: YAFdJsZqKzQ-0;
    src: url(fonts/c37dfb87a52f40012840b0225ba5def0.woff2);
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: YAFdJsZqKzQ-0;
    src: url(fonts/c37dfb87a52f40012840b0225ba5def0.woff2);
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: YAFdJsZqKzQ-0;
    src: url(fonts/c37dfb87a52f40012840b0225ba5def0.woff2);
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: YAFdJsZqKzQ-0;
    src: url(fonts/c37dfb87a52f40012840b0225ba5def0.woff2);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: YAFdJsZqKzQ-0;
    src: url(fonts/c37dfb87a52f40012840b0225ba5def0.woff2);
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: YAFdJsZqKzQ-0;
    src: url(fonts/c37dfb87a52f40012840b0225ba5def0.woff2);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: YAFdJsZqKzQ-0;
    src: url(fonts/c37dfb87a52f40012840b0225ba5def0.woff2);
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: YAFdJsZqKzQ-0;
    src: url(fonts/619f14569d213ce5f246ec236d776ad2.woff2);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: YAFdJsZqKzQ-0;
    src: url(fonts/619f14569d213ce5f246ec236d776ad2.woff2);
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: YAFdJsZqKzQ-0;
    src: url(fonts/619f14569d213ce5f246ec236d776ad2.woff2);
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: YAFdJsZqKzQ-0;
    src: url(fonts/619f14569d213ce5f246ec236d776ad2.woff2);
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: YAFdJsZqKzQ-0;
    src: url(fonts/619f14569d213ce5f246ec236d776ad2.woff2);
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: YAFdJsZqKzQ-0;
    src: url(fonts/619f14569d213ce5f246ec236d776ad2.woff2);
    font-style: italic;
    font-weight: 900;
}

@font-face {
    font-family: YAFdJpU7Kkk-0;
    src: url(fonts/c08d3a388a595644740aeaeb1220586b.woff2);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: YAFdJpU7Kkk-0;
    src: url(fonts/c08d3a388a595644740aeaeb1220586b.woff2);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: YAFdJpU7Kkk-0;
    src: url(fonts/c08d3a388a595644740aeaeb1220586b.woff2);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: YAFdJpU7Kkk-0;
    src: url(fonts/c08d3a388a595644740aeaeb1220586b.woff2);
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: YAFdJpU7Kkk-0;
    src: url(fonts/3e97319a1f2c206bc839aef07e856612.woff2);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: YAFdJpU7Kkk-0;
    src: url(fonts/3e97319a1f2c206bc839aef07e856612.woff2);
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: YAFdJpU7Kkk-0;
    src: url(fonts/c08d3a388a595644740aeaeb1220586b.woff2);
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: YAFdJpU7Kkk-0;
    src: url(fonts/c08d3a388a595644740aeaeb1220586b.woff2);
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: YAFdJpU7Kkk-0;
    src: url(fonts/c08d3a388a595644740aeaeb1220586b.woff2);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: YAFdJpU7Kkk-0;
    src: url(fonts/c08d3a388a595644740aeaeb1220586b.woff2);
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: YAFdJpU7Kkk-0;
    src: url(fonts/c08d3a388a595644740aeaeb1220586b.woff2);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: YAFdJpU7Kkk-0;
    src: url(fonts/c08d3a388a595644740aeaeb1220586b.woff2);
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: YAFdJpU7Kkk-0;
    src: url(fonts/c08d3a388a595644740aeaeb1220586b.woff2);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: YAFdJpU7Kkk-0;
    src: url(fonts/c08d3a388a595644740aeaeb1220586b.woff2);
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: YAFdJpU7Kkk-0;
    src: url(fonts/c08d3a388a595644740aeaeb1220586b.woff2);
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: YAFdJpU7Kkk-0;
    src: url(fonts/c08d3a388a595644740aeaeb1220586b.woff2);
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: YAFdJpU7Kkk-0;
    src: url(fonts/c08d3a388a595644740aeaeb1220586b.woff2);
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: YAFdJpU7Kkk-0;
    src: url(fonts/c08d3a388a595644740aeaeb1220586b.woff2);
    font-style: italic;
    font-weight: 900;
}

@font-face {
    font-family: YAEbviMoGYc-0;
    src: url(fonts/38244aad83ba2fae810d4bef33498587.woff2);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: YAEbviMoGYc-0;
    src: url(fonts/38244aad83ba2fae810d4bef33498587.woff2);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: YAEbviMoGYc-0;
    src: url(fonts/38244aad83ba2fae810d4bef33498587.woff2);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: YAEbviMoGYc-0;
    src: url(fonts/38244aad83ba2fae810d4bef33498587.woff2);
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: YAEbviMoGYc-0;
    src: url(fonts/38244aad83ba2fae810d4bef33498587.woff2);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: YAEbviMoGYc-0;
    src: url(fonts/38244aad83ba2fae810d4bef33498587.woff2);
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: YAEbviMoGYc-0;
    src: url(fonts/38244aad83ba2fae810d4bef33498587.woff2);
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: YAEbviMoGYc-0;
    src: url(fonts/38244aad83ba2fae810d4bef33498587.woff2);
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: YAEbviMoGYc-0;
    src: url(fonts/38244aad83ba2fae810d4bef33498587.woff2);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: YAEbviMoGYc-0;
    src: url(fonts/38244aad83ba2fae810d4bef33498587.woff2);
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: YAEbviMoGYc-0;
    src: url(fonts/38244aad83ba2fae810d4bef33498587.woff2);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: YAEbviMoGYc-0;
    src: url(fonts/38244aad83ba2fae810d4bef33498587.woff2);
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: YAEbviMoGYc-0;
    src: url(fonts/38244aad83ba2fae810d4bef33498587.woff2);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: YAEbviMoGYc-0;
    src: url(fonts/38244aad83ba2fae810d4bef33498587.woff2);
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: YAEbviMoGYc-0;
    src: url(fonts/38244aad83ba2fae810d4bef33498587.woff2);
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: YAEbviMoGYc-0;
    src: url(fonts/38244aad83ba2fae810d4bef33498587.woff2);
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: YAEbviMoGYc-0;
    src: url(fonts/38244aad83ba2fae810d4bef33498587.woff2);
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: YAEbviMoGYc-0;
    src: url(fonts/38244aad83ba2fae810d4bef33498587.woff2);
    font-style: italic;
    font-weight: 900;
}

@font-face {
    font-family: YAFdJjTk5UU-0;
    src: url(fonts/f4a4890561b3fddfd1fd9a1b27b6d4a4.woff2);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: YAFdJjTk5UU-0;
    src: url(fonts/33696a29f45c1b554a4c12443b998d21.woff2);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: YAFdJjTk5UU-0;
    src: url(fonts/f4a4890561b3fddfd1fd9a1b27b6d4a4.woff2);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: YAFdJjTk5UU-0;
    src: url(fonts/33696a29f45c1b554a4c12443b998d21.woff2);
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: YAFdJjTk5UU-0;
    src: url(fonts/f4a4890561b3fddfd1fd9a1b27b6d4a4.woff2);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: YAFdJjTk5UU-0;
    src: url(fonts/f4a4890561b3fddfd1fd9a1b27b6d4a4.woff2);
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: YAFdJjTk5UU-0;
    src: url(fonts/f4a4890561b3fddfd1fd9a1b27b6d4a4.woff2);
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: YAFdJjTk5UU-0;
    src: url(fonts/f4a4890561b3fddfd1fd9a1b27b6d4a4.woff2);
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: YAFdJjTk5UU-0;
    src: url(fonts/f4a4890561b3fddfd1fd9a1b27b6d4a4.woff2);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: YAFdJjTk5UU-0;
    src: url(fonts/f4a4890561b3fddfd1fd9a1b27b6d4a4.woff2);
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: YAFdJjTk5UU-0;
    src: url(fonts/f4a4890561b3fddfd1fd9a1b27b6d4a4.woff2);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: YAFdJjTk5UU-0;
    src: url(fonts/f4a4890561b3fddfd1fd9a1b27b6d4a4.woff2);
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: YAFdJjTk5UU-0;
    src: url(fonts/33696a29f45c1b554a4c12443b998d21.woff2);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: YAFdJjTk5UU-0;
    src: url(fonts/33696a29f45c1b554a4c12443b998d21.woff2);
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: YAFdJjTk5UU-0;
    src: url(fonts/33696a29f45c1b554a4c12443b998d21.woff2);
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: YAFdJjTk5UU-0;
    src: url(fonts/33696a29f45c1b554a4c12443b998d21.woff2);
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: YAFdJjTk5UU-0;
    src: url(fonts/33696a29f45c1b554a4c12443b998d21.woff2);
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: YAFdJjTk5UU-0;
    src: url(fonts/33696a29f45c1b554a4c12443b998d21.woff2);
    font-style: italic;
    font-weight: 900;
}